/* root til farver og font så de hurtigt kan ændres alle steder de bliver brugt */
:root{
    --color-background: #17131F;
    --color-title: #EFD5F2;
    --color-hover: #D3B3F2;
    --color-select: #535AF2;
    --color-unselect: #B699F3;
    --color-text: #EFD5F2;
    --color-darktext: #322EA6;
    --font-main: 'Monaco', Courier New, Courier, monospace;
}

*{
    margin: 0;
    background-color: var(--color-background);
}


/* elementer som ikke er påvirket af skærm størrelse */
    /* aktiv og ikke aktiv nav link */ 
    .active{
        text-decoration: none; /* fjerner skrej og blå farve på link */
        color: var(--color-select)
    }
    .inactive{
        text-decoration: none; /* fjerner skrej og blå farve på link */
        color: var(--color-unselect);
    }

    ::placeholder{ /* farve af tekst i besked felt på kontaktside, før du skriver */
        color: var(--color-unselect);
    }


    /* body start */
    h3{ /* kategori titler */
        font-size: 1.2rem;
        font-family: var(--font-main);
        text-align: center;
        margin-bottom: 10px;
        padding: 0px 20px 0px 20px;
        color: var(--color-text);
    }

    p{ /* brødtekst */
        font-size: 1rem;
        font-family: var(--font-main);
        text-align: center;
        margin-bottom: 20px;
        padding: 0px 20px 0px 20px;
        color: var(--color-text);
    }

    .p_link{ /* styling af link i tekst på forside */
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--color-select)
    }

    .email{ /* styling af email på kontaktside */
        text-decoration: underline;
        font-size: 1.2rem;
        color: var(--color-unselect)
    }

    .subject{ /* styling af besked emne felt på kontaktside */
        background-color: var(--color-text);
        font-size: 1rem;
        font-family: var(--font-main);
        width: 90%;
        margin-bottom: 10px;
        padding-left: 10px;
        border: none;
        color: var(--color-darktext);
    }

    .message{ /* styling af besked felt på kontaktside */
        background-color: var(--color-text);
        font-size: 1rem;
        font-family: var(--font-main);
        width: 90%;
        height: 150px;
        padding-left: 10px;
        border: none;
        color: var(--color-darktext);
    }
    /* body slut */
/* ikke påvirket af skærm størrelse */



/* media queries til justering af header og footer igennem skærmbredderne 360px, 428px, 600px, 700px, 770px, 890px og 1010px 
- i header justerer de placering af ikon, størrlese af titel og navbar, og senere skifter banner til en størrere version
- i footer justerer de let på størrelsen af knapperne */

@media screen and (max-width: 360px){ /* media query til at få siden til at se OK ud, selv når skærm er under 360px */
    /* header start */
    .mobile_banner{
        visibility: visible;
        width: 100%;
        position: static;
    }

    .desk_banner{
        visibility: hidden;
        width: 100%;
        margin-top: -500px;
        z-index: -1;
    }

    .icon{
        width: 25%;
        display: block;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -70px; /* skubber ikonet opad over banneret */
        border-radius: 10px; /* border radius runder hjørnerne på ikon */
    }

    .home{
        text-decoration: none; /* fjerne underskrej og blå farve på link */
        display: block;
        font-size: 2rem;
        font-family: var(--font-main);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        color: var(--color-title);
    }

    /* centrerer hele nav bar */
    .nav{
        font-size: 1.3rem;
        font-family: var(--font-main);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        color: var(--color-select);
    }
    /* header slut */


    /* footer med hjem, email og tilbage til top knapper */
    .grid{
        display: grid; /* grid til at opdele elementer */
        grid-template-columns: 25% 50% 25%; /* størelsen på de tre "bokse" */
        bottom: 0; /* footer fastsat til bunden af siden */
        align-content: center;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 5px;
        padding-top: 10px;
        width: 100%;
        position: static; /* fastsætter position */
        border-top: solid var(--color-unselect);
    }

    .grid-item{ /* styling af elementerne i grid - centrerer dem i hver sin "boks" */
        display: block;
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-image{ /* styling af billeder i grid */
        width: 60%;
    }
    /* footer slut */
}



@media screen and (min-width: 360px){ /* når skærmbredde er 360px eller over... */
    /* header start */
    .mobile_banner{
        visibility: visible;
        width: 100%;
        position: static;
    }

    .desk_banner{
        visibility: hidden;
        width: 100%;
        margin-top: -500px;
        z-index: -1;
    }

    .icon{
        width: 25%;
        display: block;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -70px; /* skubber ikonet opad over banneret */
        border-radius: 10px; /* border radius runder hjørnerne på ikon */
    }

    .home{
        text-decoration: none; /* fjerne underskrej og blå farve på link */
        display: block;
        font-size: 2rem;
        font-family: var(--font-main);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        color: var(--color-title);
    }

    /* centrerer hele nav bar */
    .nav{
        font-size: 1.3rem;
        font-family: var(--font-main);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        color: var(--color-select);
    }
    /* header slut */


    /* footer med hjem, email og tilbage til top knapper */
    .grid{
        display: grid; /* grid til at opdele elementer */
        grid-template-columns: 25% 50% 25%; /* størelsen på de tre "bokse" */
        bottom: 0; /* footer fastsat til bunden af siden */
        align-content: center;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 5px;
        padding-top: 10px;
        width: 100%;
        position: static; /* fastsætter position */
        border-top: solid var(--color-unselect);
    }

    .grid-item{ /* styling af elementerne i grid - centrerer dem i hver sin "boks" */
        display: block;
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-image{ /* styling af billeder i grid */
        width: 60%;
    }
    /* footer slut */
}



@media screen and (min-width: 428px){ /* når skærmbredde er 428px eller over... */
    /* header start */
    .mobile_banner{
        visibility: visible;
        width: 100%;
        position: static;
    }

    .desk_banner{
        visibility: hidden;
        width: 100%;
        margin-top: -500px;
        z-index: -1;
    }

    .icon{
        width: 25%;
        display: block;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -80px; /* skubber ikonet opad over banneret */
        border-radius: 10px; /* border radius runder hjørnerne på ikon */
    }

    .home{
        text-decoration: none; /* fjerne underskrej og blå farve på link */
        display: block;
        font-size: 2rem;
        font-family: var(--font-main);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        color: var(--color-title);
    }

    /* centrerer hele nav bar */
    .nav{
        font-size: 1.6rem;
        font-family: var(--font-main);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        color: var(--color-select);
    }
    /* header slut */


    /* footer med hjem, email og tilbage til top knapper */
    .grid{
        display: grid; /* grid til at opdele elementer */
        grid-template-columns: 25% 50% 25%; /* størelsen på de tre "bokse" */
        bottom: 0; /* footer fastsat til bunden af siden */
        align-content: center;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 5px;
        padding-top: 10px;
        width: 100%;
        position: static; /* fastsætter position */
        border-top: solid var(--color-unselect);
    }

    .grid-item{ /* styling af elementerne i grid - centrerer dem i hver sin "boks" */
        display: block;
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-image{ /* styling af billeder i grid */
        width: 60%;
    }
    /* footer slut */
}



@media screen and (min-width: 600px){ /* når skærmbredde er 600px eller over... */
    /* header start */
    .mobile_banner{
        visibility: visible;
        width: 100%;
        position: static;
    }

    .desk_banner{
        visibility: hidden;
        width: 100%;
        margin-top: -500px;
        z-index: -1;
    }

    .icon{
        width: 25%;
        display: block;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -90px; /* skubber ikonet opad over banneret */
        border-radius: 10px; /* border radius runder hjørnerne på ikon */
    }

    .home{
        text-decoration: none; /* fjerne underskrej og blå farve på link */
        display: block;
        font-size: 2.4rem;
        font-family: var(--font-main);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        color: var(--color-title);
    }

    /* centrerer hele nav bar */
    .nav{
        font-size: 1.8rem;
        font-family: var(--font-main);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        color: var(--color-select);
    }
    /* header slut */


    /* footer med hjem, email og tilbage til top knapper */
    .grid{
        display: grid; /* grid til at opdele elementer */
        grid-template-columns: 25% 50% 25%; /* størelsen på de tre "bokse" */
        bottom: 0; /* footer fastsat til bunden af siden */
        align-content: center;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 5px;
        padding-top: 10px;
        width: 100%;
        position: static; /* fastsætter position */
        border-top: solid var(--color-unselect);
    }

    .grid-item{ /* styling af elementerne i grid - centrerer dem i hver sin "boks" */
        display: block;
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-image{ /* styling af billeder i grid */
        width: 65%;
    }
    /* footer slut */
}



@media screen and (min-width: 700px){ /* når skærmbredde er 700px eller over... */
    /* header start */
    .mobile_banner{ /* udskifter lille banner med det større banner, da det begyndte at fylde for meget */
        visibility: hidden;
        width: 100%;
        margin-top: -175px;
        z-index: -1;
    }

    .desk_banner{
        visibility: visible;
        width: 100%;
        position: static;
        top: 0;
    }

    .icon{
        width: 20%;
        display: block;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -80px; /* skubber ikonet opad over banneret */
        border-radius: 10px; /* border radius runder hjørnerne på ikon */
    }

    .home{
        text-decoration: none; /* fjerne underskrej og blå farve på link */
        display: block;
        font-size: 2.6rem;
        font-family: var(--font-main);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        color: var(--color-title);
    }

    /* centrerer hele nav bar */
    .nav{
        font-size: 2rem;
        font-family: var(--font-main);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        color: var(--color-select);
    }
    /* header slut */


    /* footer med hjem, email og tilbage til top knapper */
    .grid{
        display: grid; /* grid til at opdele elementer */
        grid-template-columns: 25% 50% 25%; /* størelsen på de tre "bokse" */
        bottom: 0; /* footer fastsat til bunden af siden */
        align-content: center;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 5px;
        padding-top: 10px;
        width: 100%;
        position: static; /* fastsætter position */
        border-top: solid var(--color-unselect);
    }

    .grid-item{ /* styling af elementerne i grid - centrerer dem i hver sin "boks" */
        display: block;
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-image{ /* styling af billeder i grid */
        width: 70%;
    }
    /* footer slut */
}



@media screen and (min-width: 770px){ /* når skærmbredde er 770px eller over... */
    /* header start */
    .mobile_banner{ /* udskifter lille banner med det større banner, da det begyndte at fylde for meget */
        visibility: hidden;
        width: 100%;
        margin-top: -200px;
        z-index: -1;
    }

    .desk_banner{
        visibility: visible;
        width: 100%;
        position: static;
        top: 0;
    }

    .icon{
        width: 20%;
        display: block;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -80px; /* skubber ikonet opad over banneret */
        border-radius: 10px; /* border radius runder hjørnerne på ikon */
    }

    .home{
        text-decoration: none; /* fjerne underskrej og blå farve på link */
        display: block;
        font-size: 2.6rem;
        font-family: var(--font-main);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        color: var(--color-title);
    }

    /* centrerer hele nav bar */
    .nav{
        font-size: 2rem;
        font-family: var(--font-main);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        color: var(--color-select);
    }
    /* header slut */


    /* footer med hjem, email og tilbage til top knapper */
    .grid{
        display: grid; /* grid til at opdele elementer */
        grid-template-columns: 25% 50% 25%; /* størelsen på de tre "bokse" */
        bottom: 0; /* footer fastsat til bunden af siden */
        align-content: center;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 5px;
        padding-top: 10px;
        width: 100%;
        position: static; /* fastsætter position */
        border-top: solid var(--color-unselect);
    }

    .grid-item{ /* styling af elementerne i grid - centrerer dem i hver sin "boks" */
        display: block;
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-image{ /* styling af billeder i grid */
        width: 70%;
    }
    /* footer slut */
}



@media screen and (min-width: 890px){ /* når skærmbredde er 890px eller over... */
    /* header start */
    .mobile_banner{ /* udskifter lille banner med det større banner, da det begyndte at fylde for meget */
        visibility: hidden;
        width: 100%;
        margin-top: -230px;
        z-index: -1;
    }

    .desk_banner{
        visibility: visible;
        width: 100%;
        position: static;
        top: 0;
    }

    .icon{
        width: 20%;
        display: block;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px; /* skubber ikonet opad over banneret */
        border-radius: 10px; /* border radius runder hjørnerne på ikon */
    }

    .home{
        text-decoration: none; /* fjerne underskrej og blå farve på link */
        display: block;
        font-size: 2.6rem;
        font-family: var(--font-main);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        color: var(--color-title);
    }

    .home:hover{ /* hover effekt når skærm bliver til desktop */
        color: var(--color-hover);
    }

    .inactive:hover{ /* hover effekt når skærm bliver til desktop */
        color: var(--color-hover);
    }

    /* centrerer hele nav bar */
    .nav{
        font-size: 2rem;
        font-family: var(--font-main);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        color: var(--color-select);
    }
    /* header slut */


    .p_link:hover{ /* hover på link i forsiden på desktop størrelse */
        color: var(--color-hover);
    }

    .subject{ /* gør besked felt på kontaktside tyndere når skærmen er breddere */
        width: 75%;
    }

    .message{ /* gør besked felt på kontaktside tyndere når skærmen er breddere */
        width: 75%;
        height: 200px; /* gør besked felt lidt højere */
    }


    /* footer med hjem, email og tilbage til top knapper */
    .grid{
        display: grid; /* grid til at opdele elementer */
        grid-template-columns: 25% 50% 25%; /* størelsen på de tre "bokse" */
        bottom: 0; /* footer fastsat til bunden af siden */
        align-content: center;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 5px;
        padding-top: 10px;
        width: 100%;
        position: static; /* fastsætter position */
        border-top: solid var(--color-unselect);
    }

    .grid-item{ /* styling af elementerne i grid - centrerer dem i hver sin "boks" */
        display: block;
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-image{ /* styling af billeder i grid */
        width: 75%;
    }

    .grid-image:hover{ /* hover på knapper i footer */
        opacity: 80%; /* bruger gennemsigtighed da knapperne er billeder */
    }
    /* footer slut */
}



@media screen and (min-width: 1010px){
    /* header start */
    .mobile_banner{ /* udskifter lille banner med det større banner, da det begyndte at fylde for meget */
        visibility: hidden;
        width: 100%;
        margin-top: -280px;
        z-index: -1;
    }

    .desk_banner{
        visibility: visible;
        width: 100%;
        position: static;
        top: 0;
    }

    .icon{
        width: 15%;
        display: block;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -110px; /* skubber ikonet opad over banneret */
        border-radius: 10px; /* border radius runder hjørnerne på ikon */
    }

    .home{
        text-decoration: none; /* fjerne underskrej og blå farve på link */
        display: block;
        font-size: 2.6rem;
        font-family: var(--font-main);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        color: var(--color-title);
    }

    .home:hover{ /* hover effekt når skærm bliver til desktop */
        color: var(--color-hover);
    }

    .inactive:hover{ /* hover effekt når skærm bliver til desktop */
        color: var(--color-hover);
    }

    /* centrerer hele nav bar */
    .nav{
        font-size: 2rem;
        font-family: var(--font-main);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        color: var(--color-select);
    }
    /* header slut */


    .p_link:hover{ /* hover på link i forsiden på desktop størrelse */
        color: var(--color-hover);
    }

    .subject{ /* gør besked felt på kontaktside tyndere når skærmen er breddere */
        width: 75%;
    }

    .message{ /* gør besked felt på kontaktside tyndere når skærmen er breddere */
        width: 75%;
        height: 200px; /* gør besked felt lidt højere */
    }


    /* footer med hjem, email og tilbage til top knapper */
    .grid{
        display: grid; /* grid til at opdele elementer */
        grid-template-columns: 25% 50% 25%; /* størelsen på de tre "bokse" */
        bottom: 0; /* footer fastsat til bunden af siden */
        align-content: center;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 5px;
        padding-top: 10px;
        width: 100%;
        position: static; /* fastsætter position */
        border-top: solid var(--color-unselect);
    }

    .grid-item{ /* styling af elementerne i grid - centrerer dem i hver sin "boks" */
        display: block;
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-image{ /* styling af billeder i grid */
        width: 75%;
    }

    .grid-image:hover{ /* hover på knapper i footer */
        opacity: 80%; /* bruger gennemsigtighed da knapperne er billeder */
    }
    /* footer slut */
}